apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      name: simple-pod
      labels:
        app: client
    spec:
      containers:
        - name: simple-container
          image: dekcode/todo-app:v4
